body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	position: relative;
}

#header{
	background-color: #FFDF88;
}

h1{
	line-height: 60px;
	margin: 0px;
	padding: 15px 30px;
}

.container{
	overflow: hidden;
}

#chat{
	position: fixed;
	width: auto;
	height: auto;
	left: 60%;
	right:0;
	top: 90px;
	bottom: 0;
	background-color: #CCCCCC;
}

#content{
	position: fixed;
	width: auto;
	height: auto;
	left: 0;
	right: 40%;
	top: 90px;
	bottom: 0;
	border: 7px solid #CCCCCC;
}
#scroll{
	position: absolute;
	width: auto;
	height: auto;
	left: 7px;
	right: 7px;
	top: 7px;
	bottom: 120px;
	border: 3px solid #777777;
	border-radius: 5px;
	overflow-y: auto;
	background-color: #FFFFFF;
}
#messages{
	padding: 15px;
}
#typing {
	position: absolute;
	width: auto;
	left: 10px;
	right: 10px;
	bottom: 95px;
	line-height: 25px;
	font-size: 14px;
	display: none;
}
#input{
	position: absolute;
	width: auto;
	height: 95px;
	left: 0;
	right: 0;
	bottom: 0;
	margin: 0px;
	padding: 0;
	background-color: #CCCCCC;
}
.textarea_wrapper{
	position: absolute;
	width: auto;
	height: auto;
	left: 7px;
	right: 102px;
	top: 0;
	bottom: 7px;
	border-radius: 5px 5px;
	border: 2px solid #777777;
}
#message_input{
	border:0;
	margin:0;
	border-radius: 5px 5px;
	width: 100%;
	height: 100%;
	resize: none;
	font-size: 15px;
	background-color: #EEEEEE;
}
#message_input:focus{
	background-color: white;
}
#send{
	position: absolute;
	width: 90px;
	right: 7px;
	top: 2px;
	height: 86px;
	border: 4px outset #EEEEEE;
	background-color: #DDDDDD;
	font-size: 20px;
	border-radius: 5px 5px;
}
#send:hover{
	background-color: #E3E3E3;
}
#send:active{
	border-style: inset;
}

.notice{
	padding: 10px;
	background-color: #EEEEEE;
	font-style: italic;
	border-radius: 5px;
}
.positive {
	background-color: #DDFFDD;
	color: #009900;
}
.negative {
	background-color: #FFDDDD;
	color: #BB0000;
}
.message{
	padding: 5px;
}
.message, .notice{
	margin: 0 0 5px 0;
}
.username{
	font-weight: bold;
	padding-right: 10px;
}