body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	position: relative;
	background-color: #EEEEEE;
}

#modal{
	background-color: rgba(0,0,0,0.75);
	position: fixed;
	width: auto;
	height: auto;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	display: none;
}

#modal .dialog{
	position: absolute;
	width: auto;
	height: auto;
	top: 30%;
	left: 30%;
	right: 30%;
	bottom: 30%;
	background-color: white;
	padding: 20px;
	border-radius: 30px 30px;
	border: 8px solid yellow;
}

.dialog h2{
	margin: 10px 0 20px 10px;
}

.call_buttons {
	position: absolute;
	right: 10px;
	bottom: 10px;
}

.call_buttons input{
	border: 5px solid #EEEEEE;
	background-color: #777777;
	padding: 15px 25px;
	font-size: 18px;
	font-weight: bold;
	border-radius: 15px 15px;
	color: white;
	text-shadow: 1px 1px 3px rgba(0,0,0,0.7);
}

.call_buttons input:hover{
	border-color: yellow;
}

#accept_call{
	background-color: #55BB55;
}
#decline_call{
	background-color: #BB5555;
}

#header{
	background-color: #CCCCCC;
}

h1{
	line-height: 60px;
	margin: 0px;
	padding: 15px 30px;
}

.container{
	overflow: hidden;
}

#sidebar{
	position: absolute;
	width: 250px;
	height: auto;
	left: 0px;
	top: 120px;
	bottom: 30px;
	border-top-right-radius: 10px 10px;
	border-bottom-right-radius: 10px 10px;
	background-color: white;
}

#content{
	position: absolute;
	width: auto;
	height: auto;
	left: 265px;
	right: 0px;
	top: 120px;
	bottom: 30px;
	border-top-left-radius: 10px 10px;
	border-bottom-left-radius: 10px 10px;
	background-color: white;
}

#display{
	position: absolute;
	width: auto;
	height: auto;
	left: 0;
	right: 40%;
	top: 0;
	bottom: 0;
}

#chat{
	position: absolute;
	width: auto;
	height: auto;
	left: 60%;
	right: 0;
	top: 0;
	bottom: 0;
	background-color: #AAAAAA;
	border-top-left-radius: 10px 10px;
	border-bottom-left-radius: 10px 10px;
}
#scroll{
	position: absolute;
	width: auto;
	height: auto;
	left: 10px;
	right: 10px;
	top: 7px;
	bottom: 120px;
	border: 3px solid #777777;
	border-radius: 5px;
	overflow-y: auto;
	background-color: #FFFFFF;
}
#messages{
	padding: 15px;
}
#typing {
	position: absolute;
	width: auto;
	left: 10px;
	right: 10px;
	bottom: 95px;
	line-height: 25px;
	font-size: 14px;
	display: none;
}
#input{
	position: absolute;
	width: auto;
	height: 95px;
	left: 0;
	right: 0;
	bottom: 0;
	margin: 0px;
	padding: 0;
}
#message_input{
	position: absolute;
	width: auto;
	height: auto;
	left: 8px;
	right: 103px;
	top: 0;
	bottom: 5px;
	border-radius: 5px 5px;
	border: 2px solid #777777;
	resize: none;
	font-size: 15px;
	background-color: #EEEEEE;
}
#message_input:focus{
	background-color: white;
}
#send{
	position: absolute;
	width: 90px;
	right: 10px;
	top: 2px;
	height: 86px;
	border: 4px outset #EEEEEE;
	background-color: #DDDDDD;
	font-size: 20px;
	border-radius: 5px 5px;
}
#send:hover{
	background-color: #E3E3E3;
}
#send:active{
	border-style: inset;
}

.notice{
	padding: 10px;
	background-color: #EEEEEE;
	font-style: italic;
	border-radius: 5px;
}
.positive {
	background-color: #DDFFDD;
	color: #009900;
}
.negative {
	background-color: #FFDDDD;
	color: #BB0000;
}
.message{
	padding: 5px;
}
.message, .notice{
	margin: 0 0 5px 0;
}
.username{
	font-weight: bold;
	padding-right: 10px;
}